/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* app/assets/stylesheets/application.css */

/* Ajoute une couleur de fond et une marge au corps de la page */
body {
    background-color: #f8f9fa;
    margin: 20px;
}

/* Style pour une boîte avec ombre et fond blanc */
.custom-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour un bouton personnalisé avec une couleur de fond différente */
.custom-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* Style pour un titre avec une couleur personnalisée */
h1 {
    color: #28a745;
}

.with-vertical-bar {
    border-left: 5px solid gray;

    padding-left: 10px;

}
